@use "../../mixins" as *;

.recommendBoxes {
  @include alignCenterFlex();
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 448px) {
  .recommendBoxes {
    row-gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 448px) and (max-width: 1200px) {
  .recommendBoxes {
    row-gap: 20px;
    justify-content: space-around;
  }
}
