@import "../../variables";
@import "../../mixins";

.recommendBoxes {
  @include alignCenterFlex();
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 20px;

  .recommendBoxes_box {
    width: 280px;
    border: 1px solid #f2f2f2;
        border-radius: $borderRadius;

    display: inline-block;
    @include boxHover;
    
    &:nth-child(-n + 6) {
      display: inline-block;
    }
    .recommendBoxes_box_top {
      width: 100%;
      position: relative;
      .box_top_image {
        width: 100%;
        @include centerFlex();
        img {
          width: 144px;
        }
      }

      .box_top_price {
        padding: 10px 16px;
        @include alignCenterFlex();
        flex-direction: column;

        span {
          font-size: 12px;
          font-weight: 400;
          color: $secondary;
          text-decoration: line-through;
        }
        p {
          font-size: 17px;
          font-weight: 500;
          color: $primary;
          padding-left: 10px;
        }
      }
      .box_top_name {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
      }
    }
    .recommendBoxes_box_bottom {
      margin-top: 20px;
      .box_bottom_icons {
        @include alignCenterFlex();
        justify-content: center;
        border-top: 1px solid #f2f2f2;

        .icon {
          padding: 15px 34px;
          font-size: 18px;
          color: #bdbdbd;
          cursor: pointer;
          transition: all ease 0.1s;
          &:hover {
            color: #ed3729;
          }
        }
        hr {
          width: 1px;
          height: 24px;
          background-color: #f2f2f2;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 250px) {
  .recommendBoxes {
    row-gap: 20px;
    margin-top: 20px;
    justify-content: center;
    .recommendBoxes_box {
      width: 100%;
      display: none !important;
      &:nth-child(-n + 4) {
        display: inline-block !important;
      }
      .recommendBoxes_box_top {
        .box_top_name {
          font-size: 15px;
        }
        .box_top_image {
          img {
            width: 120px;
          }
        }
        .box_top_price {
          p {
            font-size: 16px;
            line-height: 22px;
          }
          span {
            font-size: 12px;
          }
        }
      }
      .recommendBoxes_box_bottom {
        .box_bottom_icons {
          .icon {
            padding: 15px 24px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 250px) and (max-width: 448px) {
  .recommendBoxes {
    row-gap: 20px;
    margin-top: 20px;
    justify-content: center;
    .recommendBoxes_box {
      max-width: 350px;
      width: 100%;
      display: none !important;
      &:nth-child(-n + 4) {
        display: inline-block !important;
      }
      .recommendBoxes_box_top {
        .box_top_name {
          font-size: 15px;
        }
        .box_top_image {
          img {
            width: 140px;
          }
        }
        .box_top_price {
          p {
            font-size: 17px;
            line-height: 22px;
          }
          span {
            font-size: 13px;
          }
        }
      }
      .recommendBoxes_box_bottom {
        .box_bottom_icons {
          justify-content: space-around;
        }
      }
    }
  }
}

@media screen and (min-width: 448px) and (max-width: 600px) {
  .recommendBoxes {
    .recommendBoxes_box {
      .recommendBoxes_box_top {
        .top_image_procent {
          width: 32px;
          height: 32px;
          font-size: 14px;
        }
        .box_top_price {
          padding: 10px 10px;

          span {
            font-size: 12px;
            &::after {
              height: 5px;
            }
          }
          p {
            font-size: 14px;
            padding-left: 8px;
          }
        }
        .box_top_name {
          padding: 0 20px;
          font-size: 14px !important;
          line-height: 22px;
        }
      }
      .recommendBoxes_box_bottom {
        .disount-counter {
          p {
            font-size: 12px;
          }

          .counter {
            .count {
              p {
                font-size: 14px;
                padding: 0 17px;
              }

              span {
                font-size: 9px;
              }
            }
          }
        }
        .box_bottom_icons {
          .icon {
            padding: 15px 28px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 448px) and (max-width: 768px) {
  .recommendBoxes {
    row-gap: 20px;
    margin-top: 20px;
    justify-content: space-around;
    .recommendBoxes_box {
      width: 48%;
      .recommendBoxes_box_top {
        .box_top_name {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .recommendBoxes {
    row-gap: 20px;
    margin-top: 20px;
    .recommendBoxes_box {
      width: 240px;
      .recommendBoxes_box_top {
        .box_top_name {
          font-size: 17px;
        }
      }
    }
  }
}
