$primary: #ed3729;

.searchBar {
  width: 46%;
  display: flex;
  justify-content: space-between;
  border: 2px solid $primary;
  border-radius: 5px;
  .searchBar_left {
    width: 90%;
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ant-space {
      .ant-select-selection-item {
        font-size: 14px;
      }
      .ant-select-arrow {
        font-size: 20px;
      }
    }

    input {
      width: 100%;
      border: none;
      outline: none;
    }
    .microphone {
      color: #bdbdbd;
      font-size: 40px;
      margin-left: 4px;
    }
  }
  .searchBar_right {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #d12a2c;
    }
    &:active {
      background-color: $primary;
    }
    .magnify-icon {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 448px) {
  .searchBar {
    width: 80%;
    .searchBar_left {
      width: 90%;
      padding: 5px 10px;
      .ant-space {
        display: none;
      }

      .microphone {
        display: none;
      }
    }
    .searchBar_right {
      padding: 5px 15px;
      .magnify-icon {
        font-size: 24px;
      }
      p {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 448px) and (max-width: 768px) {
  .searchBar {
    width: 80%;
    .searchBar_left {
      width: 90%;
      padding: 8px 10px 8px 0;

      .microphone {
        font-size: 36px;
      }
    }
    .searchBar_right {
      padding: 0px 2vw;
      .magnify-icon {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .searchBar {
    width: 56%;
    .searchBar_left {
      width: 90%;
      padding: 8px 10px 8px 0;
      .ant-space {
        .ant-select {
          width: 120px !important;
        }

        .ant-select-selection-item {
          font-size: 12px;
        }
        .ant-select-arrow {
          font-size: 14px;
        }
      }
      .microphone {
        font-size: 34px;
      }
    }
    .searchBar_right {
      padding: 0px 2%;
      gap: 10px;

      .magnify-icon {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
