@use "../../mixins" as *;

.productBoxes {
  @include alignCenterFlex();
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .productBoxes {
    row-gap: 20px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .productBoxes {
    row-gap: 20px;
  }
}
