@use "../../mixins" as *;

@mixin zIndex {
  position: relative;
  z-index: 3;
}

nav {
  .nav_center_bars_block {
    width: 86%;
    height: 100vh;
    padding: 20px 16px;
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 6.5vh;
    background-color: #ffffff;
    transition: all linear 0.3s;
    z-index: 4;
    &.active {
      left: 0;
    }
    .nav_center_bars_block_top {
      @include alignCenterFlex;
      justify-content: space-between;
      .bars_block_top_logo {
        width: 80px;
        img {
          width: 100%;
        }
      }
      .bars_block_top_closeButton {
        font-size: 26px;
      }
    }
    .nav_center_bars_block_userPart {
      @include alignCenterFlex;

      .block_userPart_logIn {
        padding-right: 16px;
        a {
          @include alignCenterFlex;
          gap: 10px;
          color: $black;
          :first-child {
            padding: 10px;
            font-size: 40px;
            background-color: #f2f2f2;
            border-radius: 50%;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .block_userPart_signIn {
        padding: 4px 0;
        border-left: 2px solid #e0e0e0;
        padding-left: 20px;
        font-size: 14px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 4vh;
      li {
        @include alignCenterFlex;
        gap: 16px;
        :first-child {
          font-size: 25px;
          color: #909090;
        }
        p {
          font-size: 14px;
          color: #202020;
        }
      }
    }
    .nav_center_bars_block_language {
      display: flex;
      gap: 10px;
      p {
        padding: 6px 18px;
        border-radius: $borderRadius;

        border: 1px solid $secondary;
        color: #202020;
        cursor: pointer;
        &.active {
          color: white;
          background-color: $primary;
          border: none;
        }
      }
    }
    .nav_center_bars_block_phoneNumber {
      @include alignCenterFlex;
      gap: 8px;
      font-size: 14px;
      font-weight: 400;
      color: #202020;
      :first-child {
        font-size: 20px;
        color: $secondary;
      }
    }
  }
  //
  .nav_center {
    padding: 25px 100px;
    @include alignCenterFlex;
    justify-content: space-between;
    background-color: #ffffff;
    @include zIndex();
    .bars-mobile {
      display: none;
      border-radius: $borderRadius;

      background-color: $primary;
      color: white;
    }
    .nav_center_icons {
      display: flex;
      gap: 30px;
      #user-icon {
        max-width: 8vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon {
        position: relative;
        @include alignCenterFlex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        .tag{
          position: absolute;
          top: -5px;
          right: 14px;
          z-index: 1;
          width: 20px;
          height: 20px;
          @include centerFlex;
          border-radius: 50%;
          background-color: $primary;
          font-size: 15px !important;
          color: $tertiary;
          &.two{
            right: 5px;
          }
        }
        &.hidden {
          display: none;
        }
        p {
          font-size: 14px;
        }
        :first-child {
          font-size: 22px;
        }
      }
      a {
        @extend .icon;
        color: $black;
      }
    }
  }
  //
  .nav_bottom {
    padding: 0px 100px;
    @include alignCenterFlex;
    @include zIndex();
    gap: 3vw;
    background-color: #ffffff;
    .nav_bottom_category {
      padding: 10px 48px;
      @include alignCenterFlex;
      gap: 10px;
      background-color: $primary;
      border-radius: $borderRadius;
      color: $tertiary;
      cursor: pointer;

      &:hover {
        background-color: #d12a2c;
      }
      &:active {
        background-color: $primary;
      }
      &.response {
        display: none;
      }
      :first-child {
        font-size: 26px;
      }
      h3 {
        font-size: 16px;
      }
    }

    ul {
      @include alignCenterFlex;
      gap: 40px;
      &::-webkit-scrollbar {
        height: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 2px;
      }
      a {
        color: $black;
        li {
          font-size: 16px;
          font-weight: 400;
          transition: color ease 0.1s;
          cursor: pointer;
          text-transform: capitalize;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .bottom_category_block {
    width: 100%;
    padding: 0 100px;
    display: flex;
    background-color: $tertiary;
    transition: all ease-in-out 0.6s;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 2;
    box-shadow: 0px 4.1px 2.7px rgba(0, 0, 0, 0.019),
      0px 10.3px 6.9px rgba(0, 0, 0, 0.025),
      0px 21.1px 14.2px rgba(0, 0, 0, 0.032),
      0px 43.4px 29.2px rgba(0, 0, 0, 0.044), 0px 119px 80px rgba(0, 0, 0, 0.07);
    &.active {
      top: 205px;
    }
    ul {
      max-width: 360px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 0;
      a {
        padding: 12px 10px;
        width: 100%;
        @include alignCenterFlex;
        justify-content: space-between;
        gap: 16px;
        border-radius: $borderRadius;
        color: $black;

        &:hover,
        &.onhover {
          background-color: #f2f2f2;
        }

        .left_part {
          @include alignCenterFlex;
          gap: 14px;
          font-size: 16px;
          color: #202020;
          :first-child {
            font-size: 24px;
            color: #909090;
          }
        }
        svg {
          font-size: 22px;
          color: #202020;
        }
      }
    }
  }
  .bottom_category_block_responsive {
    max-width: 420px;
    width: 100%;
    height: 100vh;
    padding: 20px 16px;
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-color: #ffffff;
    transition: all linear 0.3s;
    z-index: 4;
    &.active {
      left: 0;
    }
    .bottom_category_block_responsive_top {
      @include alignCenterFlex;
      justify-content: space-between;
      .category_block_top_logo {
        width: 100px;
        img {
          width: 100%;
        }
      }
      .category_block_top_closeButton {
        font-size: 26px;
      }
    }
    ul {
      position: relative;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 3.6vh;
      li {
        width: 100%;
        @include alignCenterFlex;
        justify-content: space-between;
        gap: 16px;
        .left_part {
          @include alignCenterFlex;
          gap: 14px;
          font-size: 14px;
          color: #202020;
          :first-child {
            font-size: 26px;
            color: #909090;
          }
        }
        svg {
          font-size: 22px;
          color: #202020;
        }
      }
      .bottom_category_block_inside {
        padding: 10px 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $tertiary;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .block_inside_top {
          @include alignCenterFlex;
          gap: 10%;
          :first-child {
            font-size: 22px;
          }
          h3 {
            font-size: 16px;
          }
        }
        ul {
          padding: 0 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 448px) {
  nav {
    .nav_center {
      padding: 10px;

      .bars-mobile {
        display: inline-block;
        padding: 1px 5px;
        font-size: 36px;
      }
      .nav_center_logo {
        display: none;
      }
      .nav_center_icons {
        display: none;
      }
    }
    .nav_bottom {
      padding: 0px 10px;

      .nav_bottom_category {
        padding: 8px 0;
        width: 100%;
        justify-content: center;
        gap: 10px;
        display: none;
        &.response {
          display: flex;
        }
        :first-child {
          font-size: 24px;
        }
      }
      ul {
        display: none;
      }
    }
    .bottom_category_block {
      display: none !important;
    }
  }
}

@media screen and (min-width: 448px) and (max-width: 768px) {
  nav {
    .nav_center_bars_block {
      width: 60%;
      padding: 30px 20px;

      .nav_center_bars_block_top {
        .bars_block_top_closeButton {
          font-size: 30px;
        }
      }
      .nav_center_bars_block_userPart {
        .block_userPart_logIn {
          padding-right: 18px;
          gap: 14px;
          :first-child {
            font-size: 46px;
          }
          p {
            font-size: 16px;
          }
        }
        .block_userPart_signIn {
          padding: 6px 0;
          padding-left: 22px;
          font-size: 16px;
        }
      }
      ul {
        li {
          gap: 16px;
          p {
            font-size: 16px;
          }
        }
      }
      .nav_center_bars_block_language {
        gap: 12px;
      }
      .nav_center_bars_block_phoneNumber {
        gap: 10px;
        font-size: 16px;
        :first-child {
          font-size: 22px;
        }
      }
    }
    //
    .nav_center {
      padding: 10px 14px;

      .bars-mobile {
        display: inline-block;
        padding: 1px 5px;
        font-size: 46px;
      }
      .nav_center_logo {
        display: none;
      }
      .nav_center_icons {
        display: none;
      }
    }
    //
    .nav_bottom {
      padding: 5px 14px;
      gap: 14px;
      .nav_bottom_category {
        padding: 10px 30px;
        display: none;
        &.response {
          display: flex;
        }
        :first-child {
          font-size: 24px;
        }
        h3 {
          font-size: 15px;
        }
      }
      ul {
        gap: 30px;
        overflow: scroll;

        li {
          font-size: 15px;
        }
      }
    }
    .bottom_category_block {
      display: none !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  nav {
    .nav_center {
      padding: 16px 14px;
      .nav_center_logo {
        width: 10vw;
        img {
          width: 100%;
        }
      }
      .nav_center_icons {
        gap: 10px;
        #user-icon {
          width: 5vw;
        }
        .icon {
          font-size: 12px;
          :first-child {
            font-size: 18px;
          }
        }
      }
    }

    .nav_bottom {
      padding: 0px 10px;
      gap: 20px;

      .nav_bottom_category {
        padding: 10px 20px;

        :first-child {
          font-size: 24px;
        }
      }
      ul {
        overflow: scroll;
        gap: 32px;
        li {
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    .bottom_category_block {
      padding: 10px 14px;
      &.active {
        top: 170px;
      }
    }
    .bottom_category_block_responsive {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  nav {
    .bottom_category_block_responsive {
      display: none !important;
    }
  }
}
